---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Post from "@components/Post.astro";
import Posts from "@components/Posts.astro";

import { sortPosts } from "@utilities/sortPosts";

const posts = await getCollection("experiments");
const nonDraftPosts = sortPosts(posts).filter((post) => !post.data.draft);
---

<Layout title="Experiments">
  <p>Explorations in code and web technology. Learning by doing.</p>

  <Posts>
    {nonDraftPosts.map((post) => (
      <Post
        slug={`/experiments/${post.slug}.html`}
        title={post.data.title}
        description={post.data.description}
        lastEdited={post.data.lastEdited}
        drawing="experiment"
      />
    ))}
  </Posts>
</Layout>
