---
import Layout from "../layouts/Layout.astro";
import BouncingBallExperiment from "../experiments/BouncingBallExperiment.astro";
import Habits from "../experiments/Habits.astro";
---

<Layout title="Experiments">
  <p>
    Okay. So I confess, there's not much here at the moment other than this
    bouncing ball!
  </p>
  <ul>
    <li>
      <a href="#ball">Bouncing ball</a>
    </li>
    <li>
      <a href="#habits">My habit tracker</a>
    </li>
  </ul>
  <BouncingBallExperiment />
  <Habits />
</Layout>
