---
import Box from "components/Box.astro";
import Centre from "components/Centre.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to my site.">
  <Centre>
    <Box>
      <p>Hi, I’m Dave&hellip;</p>
      <p>I'm a creative technologist and I make interactive visualisations.</p>
    </Box>
  </Centre>
</Layout>
