---
import Writing from "../components/Writing.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="davelovemartin">
  <Writing />
  <p>
    I've forged a career at the intersection of design and web development ✨.
  </p>
  <p>
    My empathy, curiosity and creativity means that I'm happiest connecting the
    dots, coming up with novel ideas and innovating through <strong>experimentation</strong>,
    <strong>iteration</strong> and <strong>rapid-prototyping</strong>.
  </p>
  <p>
    I have a Masters degree in <strong>
      Innovation and Applied Entrepreneurship
    </strong> and have solid experience of working with <strong>Agile</strong>, <strong
    >Lean</strong>, and <strong>User Centered Design</strong>.
  </p>
  <p>
    I create highly <strong>accessible</strong>, <strong>performant</strong> and
    <strong>usable</strong> user interfaces by:
  </p>
  <ul>
    <li>writing well-formed semantic <strong>HTML</strong>,</li>
    <li>styling with modern <strong>CSS</strong>, and</li>
    <li>coding resilient <strong>JavaScript</strong> (including React.js).</li>
  </ul>
  <p>I champion inclusive design and web accessibility.</p>
  <p>
    You can read <a href="/digital-garden">thoughts from my digital garden</a> and
    check out my <a href="/experiments">experiments</a>.
  </p>
</Layout>
