---
import Box from "../components/Box.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Typography">
  <Box>
    <h1>First level heading</h1>
    <p>
      If text is set ragged right, the word space (the space between words) can
      be fixed and unchanging. If the text is justified (set flush left and
      right), the word space must be elastic. In either case the size of the
      ideal word space varies from one circumstance to another, depending on
      factors such as letterfit, type color, and size.
    </p>
    <p>
      A loosely fitted or bold face will need a larger interval between the
      words. At larger sizes, when letterfit is tightened, the spacing of words
      can be tightened as well
    </p>
    <blockquote>That's saying something</blockquote>

    <h2>Second level heading</h2>
    <p>
      If text is set ragged right, the word space (the space between words) can
      be fixed and unchanging. If the text is justified (set flush left and
      right), the word space must be elastic. In either case the size of the
      ideal word space varies from one circumstance to another, depending on
      factors such as letterfit, type color, and size. A loosely fitted or bold
      face will need a larger interval between the words. At larger sizes, when
      letterfit is tightened, the spacing of words can be tightened as well
    </p>
    <h3>Third level heading</h3>
    <p>
      If text is set ragged right, the word space (the space between words) can
      be fixed and unchanging. If the text is justified (set flush left and
      right), the word space must be elastic. In either case the size of the
      ideal word space varies from one circumstance to another, depending on
      factors such as letterfit, type color, and size. A loosely fitted or bold
      face will need a larger interval between the words. At larger sizes, when
      letterfit is tightened, the spacing of words can be tightened as well
    </p>
    <p>
      If text is set ragged right, the word space (the space between words) can
      be fixed and unchanging. If the text is justified (set flush left and
      right), the word space must be elastic. In either case the size of the
      ideal word space varies from one circumstance to another, depending on
      factors such as letterfit, type color, and size. A loosely fitted or bold
      face will need a larger interval between the words. At larger sizes, when
      letterfit is tightened, the spacing of words can be tightened as well
    </p>
    <p>Another paragraph <small>with small text</small>.</p>
    <ul>
      <li>
        <a href="/">link</a>
      </li>
      <li>
        <a href="/">link</a>
      </li>
      <li>
        <a href="/">link</a>
      </li>
    </ul>
  </Box>
</Layout>
