---
import BouncingBallContainer from "./BouncingBallContainer.jsx";
---

<style>

</style>

<h2 id="ball">Animating ball bouncing</h2>
<p>Three versions:</p>
<BouncingBallContainer client:visible />
