@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(80px);
  }
}
.ball {
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  fill: var(--color-highlight);
}
