---
const { padding = "var(--s1)" } = Astro.props;
---

<style define:vars={{ padding }}>
  .box {
    display: block;
    padding: var(--padding);
    outline: var(--border-thin) solid transparent;
    outline-offset: calc(var(--border-thin) * -1);
  }

  .box * {
    color: inherit;
  }
</style>

<div class="box"><slot /></div>
