---
interface Props {
  href?: string;
}

const { href } = Astro.props;
---

<style is:global>
  .card-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
</style>

<div class="card-footer">
  <slot />
</div>
