<style>
  svg {
    width: auto;
    height: var(--s2);
  }
  svg g path {
    fill: none;
    stroke: var(--color-foreground);
  }
</style>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 32">
  <title>Experiments</title>
  <g stroke-width="1.24">
    <path
      d="M13.982 7.768c.165-.327.554-1.07.384-1.236-.513-.501-1.327-.691-2.044-.672-2.209.061-6.74 2.953-6.963 5.549-.138 1.604 4.43.727 5.043.632 1.263-.196 2.143-.81 2.096-.85-.933-.805-3.596.796-4.239 1.32-3.279 2.668-6.017 8.557.836 7.33.622-.111 1.245-.22 1.857-.375 1.014-.259 2.08-.584 2.574-1.564M15.969 12.104c-.448-.45-.156-.198-.048.095.492 1.342.732 2.793 1.416 4.048.567 1.041 2.05 2.849 2.519 1.15"
    ></path>
    <path
      d="M13.576 16.856c-.11.063-.432.27-.333.19 1.115-.919 2.176-1.915 3.386-2.704 1.592-1.039 3.2-2.455 5.098-2.556.078-.004-.363 1.4-.385 1.475-.104.356-.681 1.712-.433 2.045.212.284.478-.95.478-.95s-.545.997-.765 1.52c-.28.66-.616 1.426-.72 2.139-.012.078-.057.294 0 .238 1.032-1.027 1.787-5.37 2.587-6.797.628-1.12 1.054-1.886 2.29-2.183.521-.125 2.41.618 2.186 1.338-.705 2.267-10.029 7.837-4.863 3.27"
    ></path>
    <path
      d="M25.151 12.557c-.242 1.12-3.231 8.063.221 6.187a166.216 166.216 0 0 0 4.813-2.7c.165-.096.287-.252.43-.379"
    ></path>
    <path
      d="M25.29 13.7c-.047-.064-.208-.148-.142-.191a75.183 75.183 0 0 1 5.243-3.079c.443-.235.953-.314 1.429-.472M23.098 15.216c-.127.016-.493.108-.381.047 1.09-.594 2.157-1.267 3.335-1.656 1.368-.452 2.797-.823 4.238-.845 1.874-.029 1.191 3.217.94 4.047-.228.753-.71 1.667-.718 1.663-.038-.019.154-.567.67-1.806.22-.525.428-1.054.671-1.569.844-1.786 2.612-6.5 5.346-5.885 1.7.383.775 2.411-.104 3.045-1.474 1.063-4.122.822-5.382 1.936-.425.376.998.545 1.52.766 1.716.725 2.893.73 4.71.346M43.243 8.8c-1.358 2.697-2.531 5.49-3.592 8.317-.178.476.868-.557 1.193-.948M46.138 11.568c-1.798 1.473-2.285 3.974-2.967 6.13-.139.44.415-.824.622-1.236l1.483-2.946c.913-1.812 1.72-4.508 3.774-5.366 1.574-.658-.951 5.802-1.064 6.135-.175.522-.888 1.616-.337 1.617 1.35.004 3.631-5.953 5.728-6.646.815-.269.378 1.747.136 2.57-.296 1.005-2.867 7.018.226 4.283M57.991 9.792c-.155 0-.604-.027-.666.141-.752 2.022-1.771 4.028-1.92 6.18-.04.571.857 1.029 1.424.956 1.57-.2 2.989-1.05 4.43-1.7.319-.144.54-.443.811-.665"
    ></path>
    <path
      d="M56.798 10.979c.032-.143-.023-.345.097-.428 1.376-.952 2.793-1.857 4.29-2.606.695-.348 1.492-.44 2.238-.66M55.271 12.592c2.995.324 5.501-1.077 8.191-2.31.903-.413 2.028-.787 2.951-.42.456.182-1.19 5.468-2.347 5.61-.523.063.035-1.068.195-1.57.152-.478.313-.954.48-1.427.192-.545 1.516-4.358 2.152-4.038 1.065.536 1.94 6.545 3.885 6.244.885-.138.988-2.078 1.054-2.567.257-1.903.209-5.468 2.728-5.655M77.554 7.61c-.633 2.38-1.033 5.82-2.924 7.7"
    ></path>
    <path
      d="M71.458 9.543c3.485-.92 6.023-1.323 9.474-1.782M85.737 8.155c.144-.285.667-.64.43-.855-.484-.44-1.28-.686-1.901-.481-.669.22-2.886 2.012-2.481 2.325 1.05.81 5.386 2.036 4.366 4.342-.93 2.1-4.232 1.928-6.048 1.6-1.17-.21-1.093.037-.997-.62"
    ></path>
  </g>
</svg>
