---
import Acorn from "@drawings/Acorn.astro";
import Sapling from "@drawings/Sapling.astro";
import Tree from "@drawings/Tree.astro";
---

<style is:global>
  #filters label {
    margin-inline-end: var(--s1);
  }
  #filters input {
    margin-inline-end: var(--s-1);
    accent-color: var(--color-incidental);
    width: var(--s-2);
    height: var(--s-2);
  }
  #filters div {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-block-end: var(--s-1);
  }
  #filters div span {
    display: inline-flex;
    align-items: center;
    gap: 0.0625rem;
    flex-wrap: nowrap;
  }

  #filters div svg {
    width: 48px;
    height: 48px;
    display: inline;
  }

  #filters button {
    all: unset;
    background-color: var(--color-background-heavy);
    border: 1px var(--color-foreground) solid;
    font-size: var(--s-1);
    padding: 0.2rem 0.6rem;
    border-radius: 0.25rem;
    word-break: keep-all;
    transition: all ease-in;
    box-shadow: inset -1px -1px 1px var(--color-foreground);
  }

  #filters button:hover {
    background-color: var(--color-highlight);
  }

  #filters button:focus {
    outline: 2px solid var(--color-incidental);
  }

  #filters button:active {
    box-shadow: none;
  }

  #filters button:disabled {
    background-color: #ccc;
    box-shadow: none;
    border: none;
  }
</style>

<div transition:name="tag-filter-name" transition:persist id="filters">
  <div id="stage">
    <span id="note-label">Notes (<Acorn />)</span>
    <span id="essay-label">Essays (<Sapling />)</span>
    <span id="reflection-label">Reflections (<Tree />)</span>
  </div>
</div>
