.graphicBackground {
    font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,sans-serif;
    font-size: 0.125rem;
    font-weight: 400;
}

