.graphic {
  background-image: radial-gradient(
    var(--color-incidental) 0.0625rem,
    transparent 0
  );
  background-size: 10px 10px;
  border: solid 1px var(--color-foreground);
  box-shadow: var(--shadow1);
}
