<style>
  .grid {
    display: grid;
    grid-gap: var(--s1);
  }

  @supports (width: min(calc(var(--measure) / 3), 100%)) {
    .grid {
      grid-template-columns: repeat(
        auto-fit,
        minmax(min(calc(var(--measure) / 3), 100%), 1fr)
      );
    }
  }
</style>

<div class="grid">
  <slot />
</div>
