---
import Thoughts from "@drawings/Thoughts.astro";
import Experiments from "@drawings/Experiments.astro";
import Title from "./Title.astro";
import NavItem from "./NavItem.astro";
---

<style is:global>
  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .navigation ul {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem 0.8rem;
    padding: 0;
    list-style: none;
    margin: 0;
  }

  .navigation ul li {
    margin: 0;
  }
</style>

<header>
  <Title />
  <nav class="navigation" aria-label="primary">
    <ul>
      <li>
        <NavItem
          href="/digital-garden"
          currentPath={Astro.url.pathname}
          title="Thoughts"
        >
          <Thoughts />
        </NavItem>
      </li>
      <li>
        <NavItem
          href="/experiments"
          currentPath={Astro.url.pathname}
          title="Experiments"
        >
          <Experiments />
        </NavItem>
      </li>
    </ul>
  </nav>
</header>
