---
const { currentPath, href } = Astro.props;
---

<style is:global>
  .nav-item a {
    color: currentColor;
    display: inline-block;
  }

  .nav-item a.active {
    cursor: default;
    background: none;
  }
</style>

<div class="nav-item">
  <a href={href} class={currentPath === href ? "active" : ""}>
    <slot />
  </a>
</div>
