---
interface Props {
  currentPath: string;
  href: string;
  title: string;
}

const { currentPath, href, title } = Astro.props;
const strip = (href) => {
  if (href.indexOf('?') === -1) return href
  return href.split('?')[0]
}
---

<style is:global>
  .nav-item {
    padding-top: var(--s0);
  }
  .nav-item a {
    display: inline-flex;
    justify-content: space-between;
    color: var(--color-incidental);
  }
  .nav-item a:hover {
    color: var(--color-foreground);
  }
  .nav-item a[aria-current="page"] {
    color: var(--color-foreground);
    cursor: default;
    text-decoration: none;
  }
  .nav-item a[aria-current="page"]:hover {
    color: var(--color-foreground);
    background-color: var(--color-background);
  }
  .nav-item svg {
    margin-top: -0.5rem;
    min-width: var(--s2);
  }
</style>

<div class="nav-item">
  <a href={href} aria-current={currentPath === strip(href) ? "page" : ""}>
    <slot />
    {title}
  </a>
</div>
