---
interface Props {
  currentPath: string;
  href: string;
  title: string;
}

const { currentPath, href, title } = Astro.props;
---

<style is:global>
  .nav-item a {
    display: inline-flex;
    justify-content: space-between;
    color: var(--color-incidental);
  }
  .nav-item a:hover {
    color: var(--color-foreground);
  }
  .nav-item a.active {
    color: var(--color-foreground);
    cursor: default;
    text-decoration: none;
  }
  .nav-item a.active:hover {
    color: var(--color-foreground);
    background-color: var(--color-background);
  }
  .nav-item svg {
    margin-top: -0.5rem;
    margin-left: 0.5rem;
  }
  @media (max-width: 500px) {
    .nav-item svg {
      display: none;
    }
  }
</style>

<div class="nav-item">
  <a href={href} class={currentPath === href ? "active" : ""}>
    {title}
    <slot />
  </a>
</div>
