---
export interface Props {
  currentPath: string;
  href: string;
}

const { currentPath, href } = Astro.props as Props;
---

<style is:global>
  .nav-item a {
    color: currentColor;
    display: inline-block;
    background: none;
  }

  .nav-item a svg path {
    fill: var(--color-foreground);
    transition: fill var(--t1) linear;
  }

  .nav-item a.active {
    cursor: default;
  }

  .nav-item a:not(.active):hover svg path {
    fill: var(--color-incidental);
  }
</style>

<div class="nav-item">
  <a href={href} class={currentPath === href ? "active" : ""}>
    <slot />
  </a>
</div>
