---
interface Props {
  currentPath: string;
  href: string;
  title: string;
}

const { currentPath, href, title } = Astro.props;
---

<style is:global>
  .nav-item a {
    display: inline-flex;
    justify-content: space-between;
  }
  .nav-item a {
    color: currentColor;
  }
  .nav-item a:hover {
    color: var(--color-incidental);
  }
  .nav-item a.active {
    cursor: default;
  }
  .nav-item a.active:hover {
    color: var(--color-foreground);
  }
  .nav-item svg {
    margin-top: -0.4rem;
  }
</style>

<div class="nav-item">
  <a href={href} class={currentPath === href ? "active" : ""}
    >{title}
    <slot />
  </a>
</div>
