---
import Acorn from "@drawings/Acorn.astro";
import Sapling from "@drawings/Sapling.astro";
import Tree from "@drawings/Tree.astro";
import Experiments from "@drawings/Experiments.astro";

interface Props {
  lastEdited: string;
  drawing: "note" | "essay" | "reflection" | "experiment" | undefined;
}

const { lastEdited, drawing } = Astro.props;
---

<style is:global>
  .page-meta svg {
    height: var(--s2);
    width: var(--s2);
  }
  .page-meta {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
</style>

<div
  class="page-meta"
  transition:name={`page-meta-${drawing}-${lastEdited}`}
  transition:animate="initial"
>
  {drawing === "note" && <Acorn />}
  {drawing === "essay" && <Sapling />}
  {drawing === "reflection" && <Tree />}
  {drawing === "experiment" && <Experiments />}
  <small>
    {`last ${drawing === "experiment" ? "updated" : "tended"}: ${lastEdited}`}
  </small>
</div>
