<style>
  .social-container {
    width: calc(var(--measure) / 2.5);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
  }
</style>

<div class="social-container"><slot /></div>
