<style is:global>
  .social {
    width: calc(var(--s1) * 3);
  }
  .social a {
    color: var(--color-foreground);
    display: block;
    padding: var(--s1);
    outline: var(--outline-offset) solid transparent;
    outline-offset: calc(var(--outline-offset) * -1);
    transition: fill 0.1s ease-in-out 0s;
    background: none;
  }
  .social a:focus {
    color: var(--color-foreground);
    outline: var(--outline-offset) solid var(--color-incidental);
    border-radius: var(--border-radius);
  }
  .social a svg {
    width: 1.5rem;
    fill: var(--color-foreground);
  }
  .social a:hover {
    --p: 88%;
  }
  .social a:hover svg {
    fill: var(--color-incidental);
  }
</style>

<div class="social"><slot /></div>
