<style is:global>
  .stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .stack > * {
    margin-block: 0;
  }

  .stack > * + * {
    margin-block-start: var(--s1);
  }

  .stack > :nth-child(2) {
    margin-block-end: auto;
  }
</style>

<div class="stack">
  <slot />
</div>
