<style>
  .tag {
    background-color: var(--color-background-heavy);
    /* border: 1px var(--color-foreground) solid; */
    padding: 0 0.35rem 0.2rem;
    border-radius: 0.25rem;
    word-break: keep-all;
    white-space: nowrap;
  }
</style>

<span class="tag">
  <small>#<slot /></small>
</span>
