---
const { current } = Astro.props;
---

<style is:global>
  .tag-filter-nav,
  .tag-filter-nav nav,
  .tag-filter-nav nav ul,
  .tag-filter-nav nav ul li {
    display: inline;
  }
  .tag-filter-nav nav ul {
    padding: 0;
  }
  .tag-filter-nav nav ul li a[aria-current] {
    text-decoration: none;
    color: var(--color-foreground);
    cursor: pointer;
  }
</style>
<div
  class="tag-filter-nav"
  transition:name="tag-filter-name"
  transition:persist
>
  <span>filter by:</span>
  <nav>
    {/* eslint-disable-next-line jsx-a11y/no-redundant-roles */}
    <ul role="list">
      <li>
        <a
          href="/digital-garden/innovation.html"
          aria-current={current === "innovation"}
        >
          innovation
        </a> |
      </li>
      <li>
        <a
          href="/digital-garden/self-management.html"
          aria-current={current === "self-management"}
        >
          self-management
        </a> |
      </li>
      <li>
        (<a href="/digital-garden/" aria-current={current === "all"}>
          show all
        </a>)
      </li>
    </ul>
  </nav>
  <hr />
</div>
