<style>
  svg {
    width: auto;
    height: var(--s2);
  }
  svg g path {
    fill: none;
    stroke: var(--color-foreground);
  }
</style>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 32">
  <title>Thoughts</title>
  <g stroke-width="1.24">
    <path
      d="M12.955 9.474c.062-.502.286-1.01.186-1.506-.045-.221-.326.345-.376.566-.684 3.043-1.217 6.118-1.817 9.179-.623 3.177.15 5.095.144 1.317"
    ></path>
    <path
      d="M6.323 10.57c-2.477-.305 2.76-1.332 4.984-1.986.557-.164 8.017-1.327 8.232-1.051.074.095-.828 2.89-.98 3.625-.561 2.687-.665 3.084-.931 5.695-.022.22-.19 2.976.1 2.917.248-.05.08-.5.092-.753.062-1.357-1.035-3.567-.715-4.751.138-.508 1.927.403 2.166.42 1.492.1 4.147.023 5.504-.623 1.142-.543.906-5.353 2.104-7.156.093-.142-.209.27-.282.424-.224.47-.356.98-.562 1.46-.508 1.18-.787 2.291-1.122 3.53-.605 2.237-1 4.872-.269 7.154.098.304-.123 1.004.19.94.586-.118.42-2.378.418-2.777M30.507 9.723c-.199.2-.899.823-.986 1.178-.619 2.54-1.863 5.069-1.632 7.673.077.862 1.537 1.013 2.402.984 4.107-.14 5.431-8.816 2.332-10.874-.68-.452-7.775 4.817-4.174 7.207M38.128 8.673c-.11.063-.303.065-.329.19-.527 2.476-1.035 4.965-1.303 7.483-.06.557-.134 1.337.332 1.646.52.345 1.845-.055 2.494-.38 3.502-1.76 4.259-4.648 5.207-8.151.184-.68.481-2.617 1.454-2.497M52.386 8.975c-1.262-3.012-4.057 1.737-6.015 4.153-.666.821-1.136 1.78-1.265 2.825-.556 4.521 5.194-.408 6.256-1.141.118-.082.524-.375.706-.143.33.424-.576 3.044-.605 3.672-.048 1.053.42 2.743 1.367 1.315"
    ></path>
    <path d="M49.43 13.733c.386-1.42 5.545-1.945 7.291-1.472"></path>
    <path
      d="M58.36 8.258c-.76 3.285-.82 6.395-1.58 9.743-.126.552-.456-1.044-.568-1.599-.137-.679-.89-2.954-.478-3.575.093-.14 1.376.547 1.46.562 1.118.205 2.921-.364 3.857-.901 1.488-.854 3.01-2.102 3.239-3.96.044-.359.253-.987-.096-1.081-.71-.192-1.232 2.362-1.313 2.59-.32.9-3.169 10.601-.599 6.73M70.36 8.894c-1.553-1.703-3.214 9.136-3.275 9.229"
    ></path>
    <path
      d="M63.119 11.213c1.226-.995 1.892-1.88 3.336-2.265 2.746-.733 5.519-1.36 8.278-2.04M80.054 9.016c-.05-.557.216-1.757-.332-1.646-1.231.249-2.418.735-3.527 1.324-.594.316-1.06 1.932-1.077 2.543-.064 2.331 4.8 5.1 1.755 7.478-2.067 1.615-7.05.8-5.745-2.388"
    ></path>
  </g>
</svg>
