<style>
  .title svg {
    width: auto;
    height: var(--s3);
  }

  .title {
    margin-top: -0.5rem;
    display: inline-block;
    background: none !important;
  }

  .title svg g path {
    fill: none;
    stroke: var(--color-foreground);
  }
</style>
<a class="title" href="/">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 32">
    <title>Dave Lovemartin</title>
    <g stroke-width="1">
      <path
        d="M11.805 15.329c-.233-.176-1.154-1.121-1.66-.581-1.518 1.624-2.818 3.446-4.08 5.276-.356.516 1.856.438 2.003.401 3.626-.9 4.088-7.49 4.955-10.239.305-.968 1.152-3.834 1.158-3.492M16.842 15.42c.261-.339 1.477-1.469.486-2.092-.515-.324-1.31-.382-1.824-.057-1.463.923-1.977 2.043-2.461 3.426-.082.234-.781 2.184.122 2.169 1.653-.027 3.466-2.582 3.93-3.885.01-.025.739-1.551.669-1.573-.286-.09-.551.52-.598.617-.24.503-2.573 4.377-1.315 4.536 1.676.212 3.532-2.56 4.019-3.799.2-.51.287-1.063.495-1.57.113-.277.628-1.003.421-.79-.763.789-2.361 6.464-.242 6.43 2.175-.036 2.651-4.793 3.199-6.13.294-.72 1.249-1.578 1.642-.461M24.898 14.332c-.092.095-.961.94-.939.97.439.594 1.07 1.025 1.674 1.45.074.052.2-.021.258-.092 1.2-1.465 2.417-2.922 3.487-4.485.073-.107-.106-.238-.18-.344-.44-.637-2.026 1.034-2.322 1.34-2.198 2.272-3.323 6.232 1.377 4.58.577-.204.991-.583 1.46-.98.729-.616 1.218-1.435 1.876-2.114"
      ></path>
      <path
        d="M36.321 6.765c.113-.175.456-.699.339-.526-1.333 1.958-2.909 3.772-3.984 5.882-.843 1.653-2.064 5.14-.256 5.56 1.854.432 5.411-3.541 5.384-5.21-.01-.574-.932.695-1.284 1.15-.276.357-2.057 3.023-.813 3.312 2.593.604 7.893-4.538 5.011-6.767-1.782-1.378-5.83 1.917-4.365 3.805 1.148 1.48 4.512.075 5.717-.789.466-.334 1.014-.957 1.366-1.411.152-.197.597-.794.424-.615-.76.786-2.503 4.813-1.036 5.66.427.247 1.553-1.117 1.801-1.331 1.598-1.376 2.668-3.208 4.266-4.585 1.126-.97 1.841-.666.703.51"
      ></path>
      <path
        d="M48.146 13.083c-.283.41-1.078.788-.849 1.23.372.712 1.343 1.44 2.104 1.18 1.396-.476 2.466-1.754 3.25-3.005.386-.617.413-2-.297-2.166-2.401-.558-5.628 3.424-3.99 5.536 1.624 2.091 7.959-1.8 7.92-4.124-.007-.44-.839.19-.95.276-1.2.932-2.257 2.315-2.63 3.776 0 .004-.393.817.015.868.495.063 3.358-4.88 3.73-5.444.006-.008 1.39-2.038 1.714-1.417.39.75-3.227 5.598-1.454 6.622.748.433 4.193-3.98 4.786-4.593.057-.059.339-.526.433-.094.246 1.134-3.202 4.439-1.56 5.495 1.044.672 4.899-3.637 5.399-4.342.307-.434 1.09-1.326.583-1.486-1.334-.42-5.896 3.908-3.645 5.356 1.734 1.115 3.552-2.413 4.024-3.452.23-.507.488-1 .757-1.488.143-.261.685-.926.42-.789-.722.377-3.633 4.942-2.253 5.507 1.907.78 4.46-2.356 5.236-3.646.216-.357.977-.762.678-1.052-.117-.114-.751.599-.772.62-1.083 1.119-1.873 2.289-2.544 3.688-.025.053-.307.787-.074.783.33-.006 3.272-3.734 3.665-4.141.174-.179.518-.679.601-.444.183.521-1.662 3.547-1.155 3.665 2.328.542 6.135-7.575 7.663-9.155l-.768.794a11.167 11.167 0 0 0-1.446 1.847c-.601.965-4.606 6.314-3.27 7.086 1.331.77 6.094-4.26 7.038-4.977.122-.092 1.502-1.32 1.722-.896.196.377-3.447 4.17-3.563 5.094-.011.09.001.242.091.259 1.42.26 4.8-4.666 7.134-4.372.801.101-.336 1.981-.483 2.266-1.182 2.283-1.058 2.92 1.693 2.663"
      ></path>
      <path
        d="M72.588 10.598c.056-.116.044-.312.168-.35 2.74-.831 5.526-1.504 8.298-2.22.94-.242 2.037-.475 2.704.737.084.154-4.542 2.08-5.091 1.907-.21-.066.097-.453.25-.612 1.158-1.196 2.441-1.804 3.953-2.495 2.137-.978 6.343-3.182 8.816-2.402"
      ></path>
    </g>
  </svg>
</a>
