<style>
  .title svg {
    width: auto;
    height: var(--s3);
  }

  .title {
    margin-top: -0.5rem;
    display: inline-block;
    background: none !important;
  }

  .title svg g path {
    fill: none;
    stroke: var(--color-foreground);
  }
</style>
<a class="title" href="/" title="index page">
  <title>Dave Lovemartin</title>
  <svg viewBox="0 0 48 48">
    <g stroke-width="1.24">
      <path
        d="M7.93351 38.7364c-.14272-.5149.30465 2.0378.3745 2.2898.20117.7257.6503 3.9441.66684 3.8596M9.05995 44.8517c.24292-1.2415.71892-2.6063 1.25345-3.7471.1866-.3981.839-2.5624.7764-2.2427"
      ></path>
      <path
        d="M8.33037 41.5568s.93047.2103 1.37838.1524c.35405-.0458-1.16858.1595-.9693.4557.22377.3327.79477-.2294.18304.5639M2.09257 19.1466c1.90146-1.9202 3.67709-3.1516 5.7928-4.8138M15.8034 10.348c-.0089-.1311 2.7293-1.17111 3.5744-1.49409 2.7713-1.05906 5.9901-1.74298 8.9241-2.17547 6.2994-.9286 15.5644 2.36399 15.0648 10.06976-.1966 3.032-1.382 6.0546-3.0648 8.6216-3.6811 5.615-11.5161 11.4807-17.7706 13.8709-2.2363.8546-4.4036 1.8475-6.6256 2.6966-1.7937.6855-3.6981 1.1341-5.2941 2.2495M7.96098 38.839c0 .0646.07954.2529 0 .2927-.0266.0133-.02927-.3608-.02927-.3805 0-.2574-.02927-.5055-.02927-.761 0-.6824.06043-1.369.11707-2.0487.17231-2.0677.19596-4.1389.43903-6.2049.38001-3.2301.48582-6.5264.70244-9.7756.2013-3.0196.76097-6.0519.76097-9.0732"
      ></path>
      <path
        d="M8.13659 38.6634c-.04967-.0662-.17561-.2584-.17561-.1756 0 .0879.15153.1171.23414.1171.80598 0 2.05228.0017 2.75118.3512M9.39512 38.2244c-.0878 0-.05853.0195-.05853-.0878 0-.7143.0878-2.1366.14634-2.1366 0 0 .25956-4.8824.52687-7.2878.3234-2.9108.419-5.8868.6439-8.8098.2634-3.4244.6146-6.4975.9073-10.33167M11.122 38.8098c0 .4896.9104-13.9174 1.2292-18.3805.1283-1.7957.5561-9.6878.8195-12.08784"
      ></path>
      <path
        d="M9.65854 9.86341c0 .22039 1.98336.13533 2.16586.11708.0418-.00418.6146-.14173.6146-.08781 0 .00205-.2683-.02439-.2927-.02927-.247-.04941-.4896-.19078-.7317-.26341-.0394-.01184-1.66589-.48647-1.58045-.61463.1167-.17506 2.83175.13156 2.95605-.11708.0317-.06336-.0479-.14369-.0878-.17561-.6614-.52914-1.7668-.19562-2.4878-.55609-.0236-.01184-.27326-.18854-.2048-.23415.3437-.22915 3.1572.26592 3.5122.02927.1276-.08509-.1659-.18318-.2049-.20488-.8202-.45563-1.8282-.36995-2.6927-.70244-.0815-.03132-.1858-.04447-.2342-.11707-.022-.03309.5377.26813.9952.32195.664.07812 1.1584-.35122 1.7853-.35122"
      ></path>
      <path
        d="M10.2732 6.46829c-.0123.0736-.0008-1.43193.1756-1.96097.4258-1.27731 1.8418-2.89898 3.2488-1.96098.5018.33453.4541 1.67514.3804 2.16586-.2772 1.84844-.2405 4.11026-1.0829 5.7951"
      ></path>
    </g>
  </svg>
</a>
