<style>
  svg {
    width: auto;
    height: var(--s3);
  }
  svg g path {
    fill: none;
    stroke: var(--color-foreground);
  }
</style>

<h1>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 48">
    <title>Hello, I'm Dave</title>
    <g stroke-width="1.24">
      <path
        d="M14.836 11.807c-1.103-.548-.826 2.367-.844 3.6-.079 5.434-.322 10.981.886 16.28"
      ></path>
      <path
        d="M9.842 22.799c0 .158-.147.42.001.473 1.755.643 3.56 1.828 5.4 1.504 2.12-.374 4.044-1.817 5.483-3.42.76-.846 1.708-4.678 1.785-6.44.033-.774.338-1.706.279-2.463-.016-.199-.102-.746-.19-.567-1.086 2.18-.732 5.423-1.026 7.764-.28 2.228-.464 4.37-.46 6.628.029 13.333 8.17.65 9.648-4.186.284-.93.215-3.787-1.428-3.783-.829.002-1.912 2.743-2.076 3.223-.778 2.28-2.489 9.966 1.253 10.789 5.634 1.24 7.708-12.448 8.204-15.542.208-1.302.509-2.588.749-3.883.17-.917.074-.44-.003-1.42-.013-.158.095-.598-.001-.474-2.092 2.701-2.047 12.456-1.671 15.718.2 1.736.377 5.056 2.756 5.39 2.05.289 2.965-3.113 3.399-4.456 1.19-3.681 1.677-7.567 2.343-11.365.196-1.119 1.197-4.861.935-5.208-.342-.455-.733.893-.943 1.422-.656 1.649-.88 3.37-1.126 5.114-.348 2.478-1.984 11.543.88 12.967 2.269 1.129 8.422-7.054 5.758-7.774-1.59-.43-3.428 8.621.68 8.613 5.06-.01 3.437-9.875.45-11.361-1.275-.634-5.517 6.049-3.864 8.244M63.524 26.094l-1.399 9.943M77.326 16.883c-.003-1.273.998-2.34 1.507-3.506.179-.41.61-1.468.187-1.326-.814.273-1.476 3.636-1.6 4.169-.817 3.477-1.389 7.03-1.493 10.605-.018.61-.124 5.003.858 3.028M86.114 9.196c-.004-1.729.009 1.547-.09 2.083-.41 2.205-1.1 4.348-1.596 6.535-.243 1.07-.231 2.35-.277 3.409M88.516 26.23c-.062.443-.179.88-.186 1.326-.021 1.2-.507 4.63.102 3.598 1.07-1.814.822-4.135 1.407-6.157.513-1.774 1.175-3.504 1.882-5.21.076-.183.806-.955 1.135-.381 1.184 2.062-.416 7.286-.737 9.563-.035.251.16.788.38.661 1.026-.589 2.452-6.607 3.202-7.864.066-.11 1.352-2.268 1.89-1.897 1.555 1.072-.753 10.036.683 10.033M109.608 17.572c-2.008 4.037-.953 8.968-1.486 13.445-.262 2.2.239-4.424.459-6.627.303-3.022.795-8.597 1.678-12.405.139-.598 1.508-6.579 2.922-5.875 1.225.609 1.293 4.579 1.432 5.677.457 3.592 1.475 13.772-.912 16.568-2.624 3.075-8.949 2.307-6.537-2.542M119.18 22.569c.566-.664 1.674-1.12 1.7-1.992.018-.638-1.135-1.463-1.612-1.038-1.498 1.337-3.233 5.514-3.486 7.96-.087.85-.649 2.482.763 2.743 2.328.432 6.03-8.848 5.469-10.519-.068-.2-.244.36-.283.569-.122.658-.15 1.331-.28 1.988-.344 1.74-.617 4.616.203 6.248.038.075.44.679.664.566 2.151-1.081 2.528-6.894 3.2-8.81.303-.866.817-1.643 1.225-2.464.094-.19.093-.663.283-.569.506.252-.239 3.203-.277 3.409-.309 1.665-1.712 7.186.396 8.235 2.127 1.058 4.396-10.57 4.804-11.56.243-.592.96-3.287 2.078-1.803M133.477 23.77c-.063.126-.184.238-.189.379-.025.726-.589 2.408.1 2.177 3.006-1.01 5.581-3.054 8.13-4.94.667-.493.729-3.806-.292-4.165-1.779-.623-4.246 2.5-5.105 3.608-3.948 5.098-3.422 9.874 4.184 8.7 1.752-.27 3.705-.77 5.393-1.336M157.395 8.478c-.771 1.032-1.768 2.132-2.17 3.413-1.181 3.763-2.193 7.577-3.29 11.366M150.813 29.792c-.568-.283-.316-.315-.662.38"
      ></path>
    </g>
  </svg>
</h1>
