---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      :root {
        /* colour palette */
        --color-foreground: #2c363f;
        --color-background: #fef9ef;
        --color-highlight: #ffad33;
        --color-error: #c1292e;
        --color-incidental: #0496ff;

        /* typography */
        --measure: 60ch;

        /* modular scale */
        --ratio: 1.5;
        --s0: 1rem;
        --s1: calc(var(--s0) * var(--ratio));
        --s2: calc(var(--s1) * var(--ratio));
        --s3: calc(var(--s2) * var(--ratio));
        --s4: calc(var(--s3) * var(--ratio));
        --s5: calc(var(--s4) * var(--ratio));
      }

      html {
        color: var(--color-foreground);
        background-color: var(--color-background);
      }

      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      * {
        margin: 0;
        max-inline-size: var(--measure);
      }

      html,
      body,
      div,
      header,
      nav,
      main,
      footer {
        max-inline-size: none;
      }

      html,
      body {
        height: 100%;
      }

      body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
      }

      img,
      picture,
      video,
      canvas,
      svg {
        display: block;
        max-width: 100%;
      }
      input,
      button,
      textarea,
      select {
        font: inherit;
      }
      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        overflow-wrap: break-word;
      }
    </style>
  </body>
</html>
