---
import Cover from "../components/Cover.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import "@fontsource/open-sans/variable-full.css";
import "@fontsource/open-sans/variable-full-italic.css";
import Centre from "../components/Centre.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props.frontmatter || (Astro.props as Props);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <!-- <link rel="stylesheet" href="//basehold.it/24" /> -->
    <title>{title}</title>
  </head>
  <body>
    <Cover>
      <Header />
      <main>
        <Centre>
          <h1>{title}</h1>
          <slot />
        </Centre>
      </main>
      <Footer />
    </Cover>
    <style is:global>
      :root {
        /* colour palette */
        --color-foreground: #2c363f;
        --color-background: #fef9ef;
        --color-highlight: #ffad33;
        --color-highlighter: rgba(255, 173, 51, 0.666);
        --color-error: #c1292e;
        --color-incidental: #0496ff; /* typography */
        --color-links: #044170;
        --measure: 60ch; /*
      modular scale */
        --ratio: 1.5;
        --s0: 1rem;
        --s-1: calc(var(--s0) / var(--ratio));
        --s1: calc(var(--s0) * var(--ratio));
        --s2: calc(var(--s1) * var(--ratio));
        --s3: calc(var(--s2) * var(--ratio));
        /* timing */
        --t1: 0.2s;
      }
      html {
        color: var(--color-foreground);
        background-color: var(--color-background);
      }
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }
      * {
        margin: 0;
        max-inline-size: var(--measure);
      }
      html,
      body,
      div,
      header,
      nav,
      main,
      footer {
        max-inline-size: none;
      }
      html,
      body {
        height: 100%;
      }
      body {
        line-height: 1.5;
        font-family: "Open SansVariable", sans-serif;
        -webkit-font-smoothing: antialiased;
      }
      img,
      picture,
      video,
      canvas,
      svg {
        display: block;
        max-width: 100%;
      }
      input,
      button,
      textarea,
      select {
        font: inherit;
      }
      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        overflow-wrap: break-word;
      }
      p,
      li,
      dl {
        max-width: var(--measure);
      }

      details,
      dd,
      dl,
      dt,
      fieldset,
      figcaption,
      figure,
      form,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      hgroup,
      hr,
      p,
      a,
      ul,
      pre,
      table {
        margin-top: var(--s1);
        margin-bottom: var(--s1);
      }

      blockquote {
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding-left: var(--s0);
        font-variation-settings: "wdth" 100, "wght" 420;
        word-spacing: 0.2em;
        font-style: italic;
      }

      /* typography ("wdth" 75.0-100.0, "wght"	300-800) */

      h1,
      .font-xxl {
        line-height: 1.3333;
        font-variation-settings: "wdth" 100, "wght" 500;
        font-size: var(--s2);
        word-spacing: 0.2em;
      }

      h2,
      .font-xl {
        font-variation-settings: "wdth" 90, "wght" 600;
        font-size: var(--s1);
        word-spacing: 0.1em;
      }

      h3,
      .font-l {
        font-variation-settings: "wdth" 90, "wght" 500;
        font-size: var(--s0);
        font-style: italic;
        text-transform: uppercase;
      }

      h1 + p,
      .font-xxl + p,
      h2 + p,
      .font-xl + p,
      h3 + p,
      .font-l + p,
      h1 + ul,
      .font-xxl + ul,
      h2 + ul,
      .font-xl + ul,
      h3 + ul,
      .font-l + ul {
        margin-top: calc(var(--s1) * -1);
      }

      p + p {
        margin-block-start: 0;
      }

      h1,
      h2,
      h3,
      p,
      ul {
        width: 100%;
      }

      p,
      a,
      li {
        line-height: 1.5;
        font-variation-settings: "wdth" 100, "wght" 360;
        font-style: normal;
        font-size: var(--s0);
      }

      li {
        margin-block: 0;
      }

      small {
        line-height: 2.25;
        font-variation-settings: "wdth" 99, "wght" 400;
        font-style: normal;
        font-size: var(--s-1);
      }

      @property --p {
        syntax: "<percentage>";
        inherits: false;
        initial-value: 88%;
      }

      a,
      a:link,
      a:visited,
      a:active {
        --q: calc(100% - var(--p));
        color: var(--color-links);
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) var(--p),
          var(--color-highlighter) var(--q)
        );
        text-decoration: none;
        transition: --p var(--t1) ease, color var(--t1) ease;
        font-variation-settings: "wght" 400;
      }

      a:hover {
        --p: 0%;
        color: var(--color-foreground);
      }

      svg path {
        fill: var(--color-foreground);
      }
    </style>
  </body>
</html>
